/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/


/* Box Model Hack */

* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}


/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px;
    /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0;
    /* note the padding around a left floated image */
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    background: #f0efef;
}

/******************************************
/* LAYOUT
/*******************************************/


/* Center the container */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    height: 100px;
    background: #033048;
    background-size: cover;
    padding: 60px;
    padding-top: 10px;
}

h1 {
    font-size: 48px;
    color: white;
    font-weight: 800;
    float: left;
    font-size: 48px;
    height: 100%;
    margin-top: 10px;
}
    

header nav {
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 107px;
    z-index: 1010;
}

nav a {
    color: #f9e42e;
    padding-left: 40px;
   
   }

.main {
    margin: 60px;
    width: 700px;
    float: left;
}

h2 {
    color: #033048;
    font-weight: 600;
    font-size: 40px;
    
}
    
a {
    text-decoration: none;
    text-align: right;
    color: #033048;
    font-size: 24px;
    
}

a:hover {color: #19a6b1;

}

.more {
    float: right;
    padding-bottom: 10px;
    font-weight: 600;
}
    


p {
    font-size: 24px;
    color: black;
    font-weight: 400;
}

 p::first-letter {
    color: #606161;
    font-size: 50px;
    font-weight: 600;
    line-height: 10px;
    float: left;
    padding-top: 25px; 
    padding-right: 10px; 
    padding-bottom: 30px;
    
}



hr { 
    margin-top: 20px;
    color: #033048;
    clear: both;
    
}

/* RHS Styles */

.rhs-column {
    margin: 60px;
    width: 240px;
    float: right;
    display: inline;
}

h3 {
    font-weight: 800;
    font-size: 32px;
    color: #033048;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    
}

li {
    font-size: 24px;
    color: #033048;
    font-weight: 300;
    list-style: none; 
    padding: 0;
}

#about-text {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
}

/*img {
    padding-top: 20px;
    
} */

aside p a {
    text-align: right;
}

/* Pre-footer Styles */

.pre-footer {
    clear: both;
    background-color: #f9e42e;
    text-align: center;
    padding: 30px;
}


#button {
    color: white;
    text-decoration: none;
    font-size: 28px;
    border: 100px;
    background: #033048;
    height: 55px;
    width: 280px;
    padding: 10px 0;
    text-align: center;
    display: block;  
    border-radius: 5px;
    font-weight: 800;
    margin: 0 auto;
    
}

.button-text {
    color: #eee;
    
}

/* Footer Styles */

footer {
    background: #121212;
    height: 300px;
    clear: both;
    margin-top: 0px;
    text-align: center; 
}

footer h2 {
    color: white;
    text-align: center;
    padding-top: 30px;
    color: #f9e42e;
    font-weight: bolder;
    margin-top: 0;
}

.social {
    text-align: center;
    margin-bottom: 20px;
}

.twitter {
    height: 23px;
    width: 33px;
    margin-right: 30px;
}

.facebook {
    height: 27px;
    width: 12px;
}

small {
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 50px;
    font-weight: 600;
}
    
/*





.button1 {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    border: 1px;
    border-radius: 5px;
    background: #f9e42e;
    height: 37px;
    width: 160px;
    padding: 10px;
    text-align: center;
    display: block;
}

header a {
    margin: 0 auto;
    
}

.container2 {
    height: 250px;
    background-color: #f0efef;
    padding: 40px;
}

.container3 {
    height: 300px;
    background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134, 141, 157);
    background-size: cover;
}

.container4 {
    height: 80px;
    background-color: #f9e42e;
    padding: 20px;
    
}

.container4 a {
    margin: 0 auto;
    
}

.button2 {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    border: 1px;
    border-radius: 5px;
    background: #033048;
    height: 37px;
    width: 160px;
    padding: 10px;
    text-align: center;
    display: block;
    margin: 2px;
}


footer {
    background: #121212;
    height: 200px;
    clear: both;
    margin-top: 0px;
    text-align: center;
}



h2 {
    font-size: 24px;
    margin-top: 0;
    font-weight: bold;
}

.gpom {
    color: white;
    text-align: center;
}

.benefits {
    font-size: 20px;
    color: black;
    text-align: left;
}


p {
    font-size: 13px;
    color: white;
    margin-top: 0;
    font-weight: lighter;
}

.benefitsp {
    color: black;
}

.quote {
    text-align: center;
    padding: 50px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.footertxt {
    font-size: 13px;
    font-family: Open Sans;
    color: white;
}

img {
    margin: 10px;
    display: inline;
    position: static;
    top: 10px;
    left: 500px;
}

.twitter {
    height: 23px;
    width: 33px;
}

.facebook {
    height: 27px;
    width: 12px;
}


footer h2 {
    color: white;
    text-align: center;
    padding-top: 30px;
    color: #f9e42e;
    font-weight: bolder;

    
}

li {
    list-style: disc;
    font-weight: lighter;
    font-size: 13px;
}

nav {
    text-align: center;
}
    
small {
    text-align: center;
    color: white;
    font-size: 9px;
    padding: 50px;
}

.container {
    margin: 0 auto;
    width: 100%;
}
    
strong {
    font-style: normal;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

